{% extends "backoffice/base.twig" %}

{% block meta %}
    <meta name="description" content="Backoffice">
{% endblock %}


{% block main %}
<div class="page-inner">
		
        <div class="row justify-content-center">
            <div class="col-md-8">
				<div class="card">
					<div class="card-header d-flex space-between">
						<div class="card-title">{{title}}</div>
					</div>
					<div class="card-body">

						<form action="" method="POST" enctype="multipart/form-data">
                        <div class="row justify-content-center">
                            <div class="col-md-4 text-center m-4">
							<label for="">Titre</label>
                            <input class="col-md-12" name="title" type="text" value="{{titre_article}}">
                            </div>
                            <div class="col-md-4 text-center m-4">
							<label for="">Categories</label>
                            <select class="col-md-12" name="category">
                                {% for category in selectCategories %}
                                    <option value="{{category.id}}" {% if category.id == categorie %} selected {% endif %} >{{category.name}}</option>
                                {% endfor %}
                            </select>
                            </div>
                            <div class="col-md-4 text-center m-4">
                            <label for="">Auteur</label>
                            <select class="col-md-12" name="idAuteur">
                                {% for auteur in auteurs %}
                                    <option value="{{auteur.id}}" {% if auteur.id == auteurPost %} selected {% endif %}>{{auteur.first_name}}</option>
                                {% endfor %}
                            </select>
                            </div>
                             <div class="col-md-4 text-center m-4">
							<label for="">Image</label>
                            {% if image != null %}
                                <img class="article-img-bo" src="{{ image }}" >
                            {% endif %}
                            <input class="col-md-12" name="image" type="file">
                            </div>
                            <div class="col-md-4 text-center m-4">
							<label for="">Chapô</label>
                            <input class="col-md-12" name="chapo" type="text" value="{{chapo}}">
                            </div>
                            <div class="col-md-12 text-center m-4">
							<label for="">Contenu</label>
                            <textarea class="col-md-12" name="content" type="text" rows="10" cols="50">{{content}}</textarea>
                            </div>
                            <div class="col-md-12 ">
                                <button type="submit" class="btn btn-primary pull-right">Envoyer</button>
                                <a class="btn btn-danger pull-left" href="/admin/articles">Annuler</a>
                            </div>
                        </div>
                        
                        </form>
						

					</div>
				</div>
			</div>
        </div>

	</div>

{% endblock %}