{% extends "backoffice/base.twig" %}

{% block meta %}
    <meta name="description" content="Backoffice">
{% endblock %}


{% block main %}
<div class="page-inner">
		
        <div class="row justify-content-center">
            <div class="col-md-8">
				<div class="card">
					<div class="card-header d-flex space-between">
						<div class="card-title">{{title}}</div>
					</div>
					<div class="card-body">

						<form action="" method="POST">
                        <div class="row justify-content-center">
						    <div class="col-md-4 text-center m-4">
							<label for="">Civilité</label>
                            <select class="col-md-12" name="civility" type="text" value="{{civility}}" >
                                <option value="">--</option>
                                <option value="mr">Mr</option>
                                <option value="mrs">Mrs</option>
                            </select>
                            </div>
                            <div class="col-md-4 text-center m-4">
							<label for="">Nom</label>
                            <input class="col-md-12" name="last_name" type="text" value="{{last_name}}">
                            </div>
                            <div class="col-md-4 text-center m-4">
							<label for="">Prenom</label>
                            <input class="col-md-12" name="first_name" type="text" value="{{first_name}}">
                            </div>
                            <div class="col-md-4 text-center m-4">
							<label for="">E-mail</label>
                            <input class="col-md-12" name="email" type="text" value="{{email}}">
                            </div>
                            <div class="col-md-4 text-center m-4">
							<label for="">Mot de passe</label>
                            <input class="col-md-12" name="password" type="password" value="{{password}}">
                            </div>
                            <div class="col-md-12 ">
                                <a class="btn btn-danger pull-left" href="/admin/auteurs">Annuler</a>
                                <button type="submit" name="action" class="btn btn-primary pull-right">{{action}}</button>
                            </div>
                        </div>
                        </form>
						

					</div>
				</div>
			</div>
        </div>

	</div>

{% endblock %}