{% extends "base.twig" %}

{% block meta %}
    <meta name="description" content="Accueil">
{% endblock %}


{% block main %}
   <div class="home">
        <div class="title">
            <img class="personal-img" src="/public/images/miguel.jpg" alt="">
            <h1>Miguel Sevilla</h1>
            <p>Un developpeur a l'ecoute des besoin de ses clients</p>
            <a href="/public/cvMiguelSevilla.pdf" target="_blank">Plus d'information sur moi</a>
        </div>
        <div class="articles">
            {% for article in articles | slice(0,1) %}
            <div class="first-articles">
                <img src="{{ article.image }}" alt="">
                <div class="info-article">
                    <h2 class="title">{{ article.title }}</h2>
                    <p class="content-articles">{{ article.chapo }}</p>
                    <a href="/article/{{article.id}}">En savoir plus</a>
                </div>
            </div>
            {% endfor %}
            
            <div class="others">
            {% for article in articles | slice(1,4) %}
                <div class="others-articles">
                    <img src="{{ article.image }}" alt="">
                    <div class="info-article">
                        <h2 class="title">{{ article.title }}</h2>
                        <p class="content-articles">{{ article.chapo }}</p>
                        <a href="/article/{{article.id}}">En savoir plus</a>
                    </div>
                </div>
            {% endfor %}
        </div>      
    </div>
        <div class="categories">
            {% for categorie in categories | slice(0,4) %}
            <a class="category-btn" href="/categorie/{{ categorie.name }}">{{ categorie.name }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}

